.prevalence-viewer {
  position: relative;
  width: 90%;
  margin: 10px auto;
}

.prevalence-viewer_bar {
  margin-bottom: 2px;
}

.prevalence-viewer_struct_domain {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  color: #783535;
}

.prevalence-viewer_bar .prevalence-viewer_cell {
  border-bottom: 1px solid black;
}

.prevalence-viewer_plabel:not([data-visible="true"]) {
  visibility: hidden;
}

.prevalence-viewer_struct,
.prevalence-viewer_bar,
.prevalence-viewer_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.prevalence-viewer_cell {
  flex-grow: 1;
}

.prevalence-viewer_plabel {
  text-align: center;
  font-size: 0.7rem;
}

.prevalence-viewer_value {
  text-align: center;
}

.prevalence-viewer_value sup.percent {
  display: none;
  position: absolute;
  font-size: 0.7rem;
  margin-left: 3px;
}

/* .prevalence-viewer_value:hover sup.percent {
  display: inline;
} */

.prevalence-viewer_value[data-is-wild-type="true"] {
  text-decoration: underline;
}

.prevalence-viewer_value[data-pcnt-lg="90"] {
  font-weight: 800;
  color: #0b0b0b;
}

.prevalence-viewer_value[data-pcnt-lg="10"] {
  font-weight: 400;
  color: #1e88e5;
}

.prevalence-viewer_value[data-pcnt-lg="1"] {
  font-weight: 300;
  color: #e53935;

}

.prevalence-viewer_value[data-pcnt-lg="0.1"] {
  font-weight: 300;
  color: #e5c11e;
}

.prevalence-viewer_value[data-pcnt-lg="0"] {
  font-weight: 100;
  color: #66bb6a;
}

[data-cells-per-row="90"] .prevalence-viewer_cell {
  flex-basis: 2%;
  max-width: 2%;
}

[data-cells-per-row="40"] .prevalence-viewer_cell {
  flex-basis: 2.5%;
  max-width: 2.5%;
}

[data-cells-per-row="30"] .prevalence-viewer_cell {
  flex-basis: 3.3333333333%;
  max-width: 3.3333333333%;
}

[data-cells-per-row="20"] .prevalence-viewer_cell {
  flex-basis: 5%;
  max-width: 5%;
}

@media print {
  .prevalence-data-loader {
    display: none;
  }

  .prevalence-viewer_plabel {
    font-size: 0.5rem;
    line-height: 1.1em;
  }

  .prevalence-viewer_value {
    font-size: 0.6rem;
    line-height: 1.2em;
  }
}
